<section>
  <div class="container text-center">
    <input
      [(ngModel)]="newTask"
      placeholder="Enter new Task"
      class="border border-black p-2 m-2 mt-5 rounded-md shadow-lg"
    />

    @if(editingIndex !== null) {
    <button
      pButton
      label="Update Task"
      class="bg-green-500 p-2 m-2 rounded-md text-white shadow-lg"
      (click)="saveEdit(editingIndex)"
    ></button>
    <button
      pButton
      class="bg-gray-500 p-2 m-2 rounded-md text-white shadow-lg"
      (click)="cancelEdit()"
    >
      Cancel
    </button>
    } @else {
    <button
      pButton
      label="Add Task"
      class="bg-green-500 p-2 m-2 rounded-md text-white shadow-lg"
      (click)="addTask($event)"
    ></button>
    }
  </div>

  <ul class="flex gap-4 flex-col items-center justify-center mt-5">
    @for (todo of todoList; track $index; let i = $index) {
    <div
      class="flex rounded-lg gap-4 items-center justify-around min-w-[30rem] bg-slate-600 p-4"
    >
      <input
        type="checkbox"
        name="checkbox"
        (change)="handleComplete(i)"
        [checked]="todo.completed"
        class="w-6 h-6 cursor-pointer"
      />

      <li [class.line-through]="todo.completed" class="text-white text-3xl">
        {{ todo.task | titlecase }}
      </li>

      <div>
        <button
          pButton
          label="Edit"
          class="p-2 m-2 bg-blue-500 rounded-lg text-white shadow-lg px-6"
          (click)="handleEdit(i)"
        ></button>
        <button
          pButton
          label="Delete"
          class="p-2 m-2 bg-red-500 rounded-lg text-white shadow-lg px-6"
          (click)="handleDelete(i)"
        ></button>
      </div>
    </div>
    }
  </ul>
</section>
