<section>
  <div class="container text-center">
    <input
      [(ngModel)]="newTask"
      placeholder="Enter new Task"
      class="border border-black p-2 m-2 mt-5 rounded-md shadow-lg"
    />

    @if(editingIndex !== null) {
    <p-button
      pButton
      label="Update Task"
      class="p-button-success mx-2"
      (click)="saveEdit(editingIndex)"
    />
    <p-button
      pButton
      class="p-button-secondary"
      label="Cancel"
      (click)="cancelEdit()"
    ></p-button>

    } @else {
    <p-button
      pButton
      label="Add Task"
      class="p-button-success"
      (click)="addTask($event)"
    ></p-button>
    }
  </div>

  <ul class="flex gap-4 flex-col items-center justify-center mt-5">
    @for (todo of todoList; track $index; let i = $index) {
    <div
      class="flex rounded-lg gap-4 items-center justify-around min-w-[30rem] bg-slate-600 p-4"
    >
      <input
        type="checkbox"
        name="checkbox"
        (change)="handleComplete(i)"
        [checked]="todo.completed"
        class="w-6 h-6 cursor-pointer"
      />

      <li [class.line-through]="todo.completed" class="text-white text-3xl">
        {{ todo.task | titlecase }}
      </li>

      <div class="flex gap-2">
        <p-button
          pButton
          label="Edit"
          class="p-button-warning"
          (click)="handleEdit(i)"
        ></p-button>
        <p-button
          pButton
          label="Delete"
          class="p-button-danger"
          (click)="handleDelete(i)"
        ></p-button>
      </div>
    </div>
    }
  </ul>
</section>
